
footer {
  position: relative;
  bottom: 0;
  margin-top: 40px;
  width: 100%;
  height: auto;
  background-color: #000;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px;
  min-width: 800px;
  max-width: 1300px;
}

.footer-nav-list li {
  margin: 10px 0;
}

.footer-nav-heading > a {
  margin: 20px 0;
  font-weight: 900;
}

.footer-nav-list a{
  padding: 10px;
  color: #ffffff;
}